<div class="nav-item">
  <div class="nav-item">
    <i class="fa-solid fa-laptop-code"></i>
    <span style="padding-left: 2vh"> Dashboard </span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-location-dot"></i>
    <span style="padding-left: 2vh"> Locations </span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-shop"></i>
    <span style="padding-left: 2vh"> Shops </span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-cart-flatbed"></i>
    <span style="padding-left: 2vh"> Products </span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-dollar-sign"></i>
    <span style="padding-left: 2vh"> Sales </span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-chart-simple"></i>
    <span style="padding-left: 2vh"> Statistics</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-address-book"></i>
    <span style="padding-left: 2vh"> Contact</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-circle-info"></i>
    <span style="padding-left: 2vh"> Help</span>
  </div>
</div>
